.contact-sec {
  width: 100%;
  min-height: 550px;
  background-color: $yellow;
  border-bottom: 5px solid $white;

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include center-content();
    min-height: 550px;
    width: 80%;
    //background-color: turquoise;

    h1 {
      color: $blue;
      font-family: $playball;
      font-size: 400%;
      margin: 50px auto 20px;
    }

    .contact-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      min-height: 200px;
      text-align: center;
      padding: 10px 0 30px;
      background-color: blueviolet;

      .form-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 152px;
        width: 75%;
        font-family: $arial;
        font-size: 100%;
        margin: 10px 0;
        margin: auto;
        // background-color: burlywood;
        align-items: center;

        .info-input-container {
          display: flex;
          flex-direction: column;
          //   justify-content: space-between;
          height: 75px;
          width: 45%;
          background-color: chartreuse;

          h3 {
            margin: auto 0;
            color: $blue;
          }

          .info-input {
            width: 90%;
            background-color: #ccc;
            border-style: unset;
          }
        }
      }

      .info-div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 152px;
        width: 35%;
        font-family: $arial;
        font-size: 100%;
        margin: 10px 0;
        background-color: burlywood;
      }
    }
  }
  input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
}
