#schedule {
  background-color: $white;
  min-height: 550px;

  .schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include center-content();
    width: 80%;
    // background-color: blueviolet;

    .download-button {
      width: 30%;
      height: 50px;
      background-color: $yellow;
      color: white;
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      margin-top: 35px;
      font-size: 16px;
      text-transform: uppercase;
      justify-content: center;
      margin-bottom: 75px;
      text-align: center;
      text-decoration: none;
    }

    .download-button:hover {
      background-color: $blue;
      color: $white;
      border: 3px solid $yellow;
    }

    h1 {
      color: $yellow;
      font-family: $playball;
      font-size: 400%;
      margin: 50px auto 40px;
      text-align: center;
    }
    .game-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      //   background-color: cadetblue;
      width: 100%;
      justify-content: space-around;

      .read-more {
        display: none;
      }

      .games {
        width: 350px;
        // max-width: 500px;
        background-color: $white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        padding: 15px 5px;
        margin: 0 15px;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .team-wrapper {
          width: 95%;
          display: flex;
          flex-direction: row;
          margin: 0 auto;

          .team-logo {
            width: 200px;
            height: 200px;
            margin: auto;
          }

          h3 {
            margin: auto;
            color: $blue;
            font-size: 200%;
            font-family: $arial;
          }

          .pacers {
            background: url("../images/schedule/ind.png");
            background-repeat: no-repeat;
            background-size: contain;
            // background-color: crimson;
            // -webkit-filter: drop-shadow(2px 2px 2px #222);
            // filter: drop-shadow(2px 2px 2px #222);
          }
          .mem {
            background: url("../images/schedule/mem.png");
            background-repeat: no-repeat;
            background-size: contain;
          }

          .okc {
            background: url("../images/schedule/okc2.png");
            background-repeat: no-repeat;
            background-size: contain;
          }

          .det {
            background: url("../images/schedule/det.png");
            background-repeat: no-repeat;
            background-size: contain;
          }

          .nyk {
            background: url("../images/schedule/nyk.png");
            background-repeat: no-repeat;
            background-size: contain;
          }

          .lac {
            background: url("../images/schedule/lac.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .bos {
            background: url("../images/schedule/bos.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .atl {
            background: url("../images/schedule/atl.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .cha {
            background: url("../images/schedule/cha.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .lal {
            background: url("../images/schedule/lal.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .sac {
            background: url("../images/schedule/sac.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .mil {
            background: url("../images/schedule/mil.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .tor {
            background: url("../images/schedule/tor.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .mia {
            background: url("../images/schedule/mia.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .nop {
            background: url("../images/schedule/nop.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .phi {
            background: url("../images/schedule/phi.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }

      .date-info {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
        justify-content: space-around;
        margin-bottom: 25px;

        h2 {
          font-family: $arial;
          font-size: 200%;
          text-transform: uppercase;
          color: $blue;
          margin: auto;
        }

        .date-yellow {
          color: $yellow;
        }

        span {
          font-size: 200%;
          margin: auto;
          color: $blue;
        }
      }

      .games:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}

@media (max-width: 1100px) {
  #schedule {
    .schedule-container {
      .download-button {
        width: 60%;
        height: 50px;
        background-color: $yellow;
        color: white;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin-top: 35px;
        font-size: 16px;
        text-transform: uppercase;
        justify-content: center;
        margin-bottom: 75px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 700px) {
  #schedule {
    .schedule-container {
      .download-button {
        width: 80%;
        height: 50px;
        background-color: $yellow;
        color: white;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin-top: 35px;
        font-size: 16px;
        text-transform: uppercase;
        justify-content: center;
        margin-bottom: 75px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
