//site width initialized for mixin
$site-full-width: 100%;

//site colors
$white: rgb(255, 255, 255);
$yellow: rgb(253, 185, 48);
$blue: rgb(0, 46, 98);

$white-alpha: rgba(255, 255, 255, 0.5);
$yellow-alpha: rgba(253, 185, 48, 0.5);
$yellow-alpha75: rgba(253, 185, 48, 0.75);
$blue-alpha: rgba(0, 46, 98, 0.5);
$blue-alpha75: rgba(0, 46, 98, 0.75);

//site fonts
$playball: "Playball", cursive;
$impact: impact;
$arial: Arial, Helvetica, sans-serif;
